.game {
    display: flex;
    height: 100vh;
    background-color: #F9FAF7;
    position: relative;
}

.card-container {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    padding-bottom: 10px;
    
    position: relative;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: grab;
}

/* .card-container.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
} */


.left-panel {
    width: 40%;
    padding: 20px;
}

.room-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


#opponents-zoo {
    display: flex;
    flex-direction: column;
    max-height: 95%; 
    overflow-y: auto;  
    margin-top: 20px;
}

.opponent.current-player { 
    border:5px solid #2BAEAA;
    background-color: #2baeaa9f;
}
.opponent.current-player:hover {
    background-color: #2baeaa9f;
    cursor: not-allowed;
}
.opponent {
    padding: 15px 20px;
    background-color: #E4EBD0;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.opponent:hover {
    background-color: #D1DCB2;
    cursor: pointer;
}

.opponent-header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 10px;
}

.player-login {
    font-weight: bold;
}

.cards-count {
    font-style: italic;
}


.right-panel {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#game-status, #player-zoo, #waterhole, #player-hand {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


