body{
    /* background-color: #F9FAF7; */
    background-image: url('../img/back.webp');
    background-repeat: repeat-y; 
    background-position: center;  
    background-size: cover;
    
    font-family: 'RussianRail G Pro', sans-serif;
}
.game {
    display: flex;
    justify-content: space-between;
    height: 97vh;
    width: 97vw;
    position: relative;
    padding: 0;
}

.card-container {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    
    position: relative;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    /* transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform; */
}

.left-panel {
    width: 30%;
    padding: 80px;
}

.room-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


#opponents-zoo {
    display: flex;
    flex-direction: column;
    max-height: 95%; 
    overflow-y: auto;  
    margin-top: 20px;
}

.opponent.current-player { 
    border:5px solid #2BAEAA;
    background-color: #2baeaa9f;
}
.opponent.current-player:hover {
    background-color: #2baeaa9f;
    cursor: not-allowed;
}
.opponent {
    padding: 15px 20px;
    background-color: #E4EBD0;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.opponent:hover {
    background-color: #D1DCB2;
    cursor: pointer;
}

.opponent-header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 10px;
}

.player-login {
    font-weight: bold;
}

.cards-count {
    font-style: italic;
}


.right-panel {
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rules{
    margin-left: auto;
}

.game-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}


.waterhole-сard {
    width: 250px;
    height: 150px;
    background: url('../img/water.png') no-repeat center center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#game-status {
    width: 300px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #4B4F4E;
    font-family: 'RussianRail G Pro', sans-serif;
}

#waterhole{
    border:5px solid #9AC6CB;
}
#player-zoo{
    border:5px solid #C8AE49;
}

h3{
    margin-bottom: -15px;
    font-size: 32px;
    text-align: right;
    margin-right: 10px;
}

#place-cards-btn{
    width: auto;
}