body{
    /* background-color: #F9FAF7; */
    height: 100%;

    background-image: url('../img/back.webp');
    background-repeat: no-repeat; 
    background-size: cover;
    
    font-family: 'RussianRail G Pro', sans-serif;
}
.game {
    display: flex;
    flex-direction: column;
    height: 93vh;
    width: 93vw;
    position: relative;
    padding: 1% 3%;
    justify-content: space-between;
}

.zoo_water{
    display: flex;
    justify-content: space-between;
}

.card-container {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    
    position: relative;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.left-panel {
    width: 45%;
}

.room-info {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}


#opponents-zoo {
    display: flex;
    flex-direction: column;
    max-height: 95%; 
    overflow-y: auto;  
    margin-top: 10px;
}

.opponent.current-player { 
    border:5px solid #2BAEAA;
    background-color: #2baeaa9f;
}
.opponent.current-player:hover {
    background-color: #2baeaa9f;
    cursor: not-allowed;
}
.opponent {
    padding: 15px 20px;
    background-color: #E4EBD0;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.opponent:hover {
    background-color: #D1DCB2;
    cursor: pointer;
}

.opponent-header {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    margin-top: 20px;
}

.cards-count {
    font-style: italic;
}


.right-panel {
    width: 52%; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#water{
    margin-top: 7%;
}

.rules{
    margin-left: auto;
}

.game-panel {
    display: flex;
    align-items: center;
    gap: 5%;

    width: 100%;
}
#player-hand{
    width: 65%;
}
.game-status-panel{
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 400px;
    gap: 20px;
}
#game-status {
    font-size: 16px;
    /* font-weight: bold; */
    text-align: left;
    color: #4B4F4E;
    font-family: 'RussianRail G Pro', sans-serif;
    margin-top: 5%;
}

#waterhole, #player-zoo{
    width: 97%;
    height: 200px;
    border-radius: 15px;
    background-color: #f9faf7c5;
    margin-bottom: 10px;

    position: relative;
}

#waterhole{
    border:5px solid #9AC6CB;
}
#player-zoo{
    border:5px solid #C8AE49;
}

h3{
    margin: 0;
    font-size: 24px;
}

#place-cards-btn{
    width: auto;
    height: 70px;
}

#quit-button{
    padding: 0 10px;
}
#quit-button img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}



/* .waterhole-сard {
    width: 250px;
    height: 150px;
    background: url('../img/water.png') no-repeat center center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */