/* Модальное окно для уведомлений */
#card-modal {
    display: none; 
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 12px;
    z-index: 1000;
    cursor: pointer;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* animation: slideInFromTop 0.5s ease-in-out, fadeOutNotification 3s 4.5s forwards;
    opacity: 0; */
}
/* 
@keyframes slideInFromTop {
    from {
        top: 10%;
        opacity: 0; 
    }
    to {
        top: 5%;
        opacity: 1;
    }
}

@keyframes fadeOutNotification {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        top: 5%;
    }
} */


.message {
    color: #293C40;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
